
.header .navigation {
  display: flex;
  list-style: none;
  gap: 15px;
}

.App {
  margin: 20px;
}

.App label {
  margin: 30px;
  display: block;
}

.App ul {
  list-style: none;
  float: left;
  display: block;
}

.App li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.App .delete {
  color: red;
  cursor: pointer;
}

.App input:checked + span {
  text-decoration: line-through;
}